@import "~src/scss/variable";
@import "~src/scss/mixin";

.edit-task {
  @include title;
  background-color: $light_gray;
  padding: 0;
  margin: 24px 8px;

  &.simple-view {
    .header:hover {
      transform: scale(1.05);
    }
  }

  &.completed {
    input[text="checkbox"] {
      background-color: $blue;
    }

    .title {
      color: $delete_color;
      text-decoration: line-through;
    }
  }

  .header {
    transition: transform 0.2s;
    padding: 24px 32px;

    &.favorite {
      background-color: $light_orange;
    }

    &.mat-expanded {
      .fa-pencil-alt {
        color: $blue;
      }
    }

    input[type="checkbox"] {
      vertical-align: top;
      width: 24px;
      height: 24px;
      margin-top: 7px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .title {
      width: 248px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }

    .function-group {
      float: right;

      mat-icon {
        cursor: pointer;

        & + mat-icon {
          margin-left: 32px;
        }
      }

      .fa-star {
        &.fas {
          color: $orange;
        }
      }
    }

    .icon-group {
      @include remark;
      margin-top: 15px;
      margin-left: 24px;

      .fa-calendar-alt {
        width: 66px;
      }

      mat-icon + mat-icon {
        margin-left: 16px;
      }
    }
  }

  .content {
    padding: 24px 72px;

    input,
    textarea {
      background-color: $white;
      @include paragragh;
    }

    textarea {
      width: 445px;
      height: 120px;
    }

    .row {
      & + .row{
        margin-top: 24px;
      }

      .row-title {
        @include subtitle;
      }

      .row-content {
        margin-left: 32px;
      }
    }
  }

  .button-group {
    display: flex;
    padding: 0;
    justify-content: space-around;
    border-top: 0;
    border-top-style: none;
    margin: 0;

    button {
      width: 100%;
    }

    .mat-warn {
      background-color: $white;
    }

    .mat-primary {
      background-color: $blue;
    }
  }
}
