<mat-card class="edit-task" [ngClass]="{completed: task.isCompleted, favorite: task.isFavorite}" (click)="editing()">
  <input type="checkbox" [(ngModel)]="task.isCompleted">
  <div class="content">
    <span class="title">{{task.title}}</span>
    <div class="function-group">
      <mat-icon class="fa-star" [ngClass]="{'fas': task.isFavorite, 'far': !task.isFavorite}" (click)="toggleFavorite()"></mat-icon>
      <mat-icon fontSet="fas" fontIcon="fa-pencil-alt"></mat-icon>
    </div>
    <div class="icon-group" *ngIf="!task.isCompleted">
      <mat-icon fontSet="far" fontIcon="fa-calendar-alt" *ngIf="!!task.deadline">
        {{ task.deadline | date:'MM/dd' }}
      </mat-icon>
      <mat-icon fontSet="far" fontIcon="fa-file" *ngIf="!!task.files"></mat-icon>
      <mat-icon fontSet="far" fontIcon="fa-comment-dots" *ngIf="!!task.comment"></mat-icon>
    </div>
  </div>
</mat-card>