/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./src/scss/variable";
@import "./src/scss/mixin";
.full-width {
  width: 100%;
}

body {
  background-color: $light_dark_gray;
  font-family: "Roboto-Medium";
}

app-layout {
  .mat-tab-header{
    background-color: $blue;
  }

  .mat-tab-label{
    color: $dark_blue;
    opacity: 1;

    &.mat-tab-label-active{
      color: $white;
    }
  }

  .mat-tab-body-content{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

mat-card.mat-card {
  padding: 0;
  margin: 24px 8px;
}

mat-tab-group{
  .mat-tab-labels{
    justify-content: center;
  }
}