/* font color */
$blue: #4a90e2;
$dark_blue: #00408b;
$red: #d0021b;
$orange: #f5a623;
$light_orange: #fff2dc;
$light_gray: #f2f2f2;
$gray: #c8c8c8;
$dark_gray: #757575;
$white: #fff;
$black: #000;
$light_dark_gray: #e1e1e1;
$delete_color: #9b9b9b;